# ==========================================
# Binaries
# ==========================================

*
!*/
!.gitignore
!*.cpp
!*.hpp
!*.h
!*.md
!Makefile
!CMakeLists.txt
!LICENSE

# exe
*.exe
*.exe.recipe
*.pdb

# ==========================================
# obj and libraries
# ==========================================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# ==========================================
# Compilation & IDEs
# ==========================================

build/
.cmake/
CMakeCache.txt
CMakeFiles/

# VS Code
.vscode/
.vs/
*.user
*.suo

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
